[data-theme="dark"] {
  --background: #232323;
  --background-accent: #333333;
  --text: #e8e8e8;
  --primary: #6d4cb1;
  --secondary: #6d4cb1;
  --accent: #d41e6d;

  --blend-mode: color-dodge;
}
[data-theme="light"] {
  --background: #e8e8e8;
  --background-accent: #c7c7c7;
  --text: #232323;
  --primary: #6d4cb1;
  --secondary: #fcfbfd;
  --accent: #d41e6d;

  --blend-mode: auto;
}

:root {
  --spacing: 16px;
  --spacing-m: 32px;
  --spacing-lg: 64px;
  --spacing-xl: 128px;
  --spacing-xs: 8px;
  --spacing-xxs: 4px;

  --font-size: 18px;
  --header-size-small: 26px;
  --header-size: 38px;
}

a:-webkit-any-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

a:-webkit-any-link:hover {
  color: var(--accent);
}

body,
span,
h1,
img {
  color: var(--text);
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: var(--header-size);
}

span {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
