[data-theme="dark"] {
  --background: #232323;
  --text: #e8e8e8;
  --primary: #6d4cb1;
  --secondary: #6d4cb1;
  --accent: #d41e6d;

  --line-animation-color: #232323;

  --blend-mode: color-dodge;
}
[data-theme="light"] {
  --background: #e8e8e8;
  --text: #232323;
  --primary: #6d4cb1;
  --secondary: #fcfbfd;
  --accent: #d41e6d;

  --line-animation-color: #fcfbfd;

  --blend-mode: hard-light;
}

:root {
  --spacing: 16px;
  --spacing-m: 32px;
  --spacing-lg: 64px;
  --spacing-xl: 128px;
  --spacing-xs: 8px;
  --spacing-xxs: 4px;

  --font-size: 16px;
  --header-size: 48px;
}

body,
span,
h1,
img {
  color: var(--text);
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: var(--header-size);
}

span {
  font-size: var(--font-size);
}

img {
  transition-delay: 0.5s;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
